@page "/assignments";
@inject NavigationManager NavMan;
@inject IDbService DbService;
@inject AzureDbContext AzureDb;
@inject Blazored.LocalStorage.ILocalStorageService Storage;

<h3>Assignments</h3>

@code {

}
