@page "/dashboard"

@if (_loading)
{
    <h4 class="header-default">Loading...</h4>
}
else
{
    //https://getbootstrap.com/docs/4.4/utilities/flex/
    <div class="d-flex justify-content-end">
        <div class="flex-row">
            <ProfileInfo Account="@_account" />
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="flex-row">
            <RegistrationInfo Account="@_account" />
        </div>
    </div>
    @if (_account.Role == (int)Role.STUDENT)
    {
        <div class="d-flex justify-content-end">
            <div class="flex-row">
                <BalanceInfo Account="@_account" />
            </div>
        </div>
    }
}


@code {

    private bool _loading = true;
    private Account _account;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var session = await SessionObj.GetSession(AzureDb, Storage);
            if (session == null)
            {
                NavMan.NavigateTo("sessionexpired");
            }
            else
            {
                await Setup(session.AccountId);
            }
        }
    }

    private async Task Setup(int acctId)
    {
        _account = await DbService.GetAccount(AzureDb, acctId);
        _loading = false;
        StateHasChanged();
    }
}
