@page "/dashboard"
@inject NavigationManager NavMan;
@inject IDbService DbService;
@inject AzureDbContext AzureDb;
@inject Blazored.LocalStorage.ILocalStorageService Storage;

<h3 class="header-default">Dashboard</h3>

@code {


    protected override async Task OnInitializedAsync()
    {
        var validSession = await SessionObj.VerifySession(AzureDb, Storage);
        if (!validSession)
        {
            NavMan.NavigateTo("sessionexpired");
        }
    }

}
