@page "/grades";
@inject NavigationManager NavMan;
@inject IDbService DbService;
@inject AzureDbContext AzureDb;
@inject Blazored.LocalStorage.ILocalStorageService Storage;

<h3 class="header-default">Grades</h3>

@code {

}
