@page "/"
@layout UnauthenticatedLayout;

<div class="row text-right">
    <div class="col-md-8">
        <h3 class="welcome">Welcome to LMS for Weber State's CS3750!</h3>
    </div>
    <div class="col-md-4 home-btn-group">
        <a class="btn btn-primary" href="/login">Login</a>&nbsp;
        <a class="btn btn-secondary" href="/newaccount">Create Account</a>
    </div>
</div>
<div class="row text-center">
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="https://wallpaper.dog/large/10923012.jpg" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="https://cdn.statically.io/img/2.bp.blogspot.com/-6qyrarTHmc8/XTf4K_MwvAI/AAAAAAAAI-g/xyZ2hCKJXYwwX_IFwit9Ano4dSEPK3YlQCLcBGAs/w914-h514-p-k-no-nu/demon-genji-overwatch-uhdpaper.com-4K-220-wp.thumbnail.jpg" class="gallery__img" />
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="https://i.pinimg.com/736x/ad/cb/ce/adcbcea71e950dd67369ab086bfd91ce.jpg" class="gallery__img" />
        </figure>
    </div>
</div>
