@page "/"
@page "/home"
@layout UnauthenticatedLayout;

<div class="row text-right">
    <div class="col-md-8">
        <h3 class="welcome">Welcome to LMS for Weber State's CS3750!</h3>
    </div>
    <div class="col-md-4 home-btn-group">
        <a class="btn btn-primary" href="/login">Login</a>&nbsp;
        <a class="btn btn-secondary" href="/newaccount">Create Account</a>
    </div>
</div>
<div class="row text-center">
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="https://cs3750lms.blob.core.windows.net/images/weber-cat.webp" class="gallery__img" atl="wsu image 1" />
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="https://cs3750lms.blob.core.windows.net/images/weber-school.webp" class="gallery__img" alt="wsu image 2" />
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="https://cs3750lms.blob.core.windows.net/images/weber-stone.webp" class="gallery__img" alt="wsu image 3" />
        </figure>
    </div>
</div>
<div class="row covid-banner">
    <div class="col-md-4 text-center">
        <h2 class="header-default">WSU COVID-19 Updates</h2>
    </div>
    <div class="col-md-4 text-center">
        <h4 class="header-default">Weber State University is making COVID-19 testing available for all members of our campus community.</h4>
    </div>
    <div class="col-md-4 text-center">
        <a href="https://www.weber.edu/coronavirus/" class="btn btn-primary btn-lg">Coronavirus Information</a>
    </div>
</div>
