@page "/"
@layout UnauthenticatedLayout;

<div class="welcome_card">
    <h3 class="welcome">Welcome to LMS for Weber State's CS3750!</h3>
</div>

<div class="gallery">
    <figure class="gallery__item gallery__item--1">
        <img src="https://photos.smugmug.com/photos/i-249M8rf/0/XL/i-249M8rf-XL.jpg" class="gallery__img" alt="Waldo" />
    </figure>
    <figure class="gallery__item gallery__item--2">
        <img src="https://photos.smugmug.com/photos/i-rJ5HpZQ/0/X2/i-rJ5HpZQ-X2.jpg" class="gallery__img" alt="Campus"/>
    </figure>
    <figure class="gallery__item gallery__item--3">
        <img src="https://photos.smugmug.com/photos/i-TWv5Sht/0/XL/i-TWv5Sht-XL.jpg" class="gallery__img" alt="W-Sign"/>
    </figure>
    <figure class="gallery__item gallery__item--4">
        <a class="btn btn-primary" href="/login">Login</a>
    </figure>
    <figure class="gallery__item gallery__item--5">
        <a class="btn btn-secondary" href="/newaccount">Create Account</a>
    </figure>
</div>

<footer class="copyright">&copy; Copyright 2021 All rights reserved</footer>

@code{
}
