@page "/login";
@layout UnauthenticatedLayout;
@using Shared.Models;
@inject NavigationManager NavMan;
@inject IDbService DbService;
@inject AzureDbContext AzureDb;
@inject Blazored.LocalStorage.ILocalStorageService Storage;
@inject IJSRuntime JS;

<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card LMS-card">
            <div class="card-header LMS-title">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <EditForm Model="@authModel" OnValidSubmit="@TryAuthenticate">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label class="LMS-form-label text-left" for="LMSusername"><strong>Username</strong></label>
                        <InputText id="LMSusername" class="LMS-input" type="text" placeholder="Username (email)" @bind-Value="authModel.UserName" />
                    </div>
                    <div>
                        <label class="LMS-form-label text-left" for="LMSpassword"><strong>Password</strong></label>
                        <InputText id="LMSpassword" class="LMS-input" type="password" placeholder="Password" @bind-Value="authModel.Password" />
                    </div>

                    <button class="btn btn-primary LMS-btn" type="submit">Submit</button>
                </EditForm>

                <a href="/newaccount">Don't have an account?</a>

                @if (!string.IsNullOrEmpty(message))
                {
                    <p class="LMS-message">@message</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@code {
    private AuthModel authModel = new AuthModel();
    private string message = string.Empty;

    /// <summary>
    /// Attempt to authenticate a user.
    /// </summary>
    private async void TryAuthenticate()
    {
        var authenticated = await DbService.Authenticate(Storage, AzureDb, authModel);
        if (authenticated)
        {
            NavMan.NavigateTo("dashboard");
        }
        else
        {
            message = "Login failed.";
            await JS.InvokeVoidAsync("Toast", new[] { "error", "Login Failed.", "3000" }); // toasttype, message, duration
        }
    }
}
