@page "/login";
@layout UnauthenticatedLayout;

@if (_loading)
{
    <Loading LayoutType="spinner-unauthenticated"/>
}
else
{
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card LMS-card">
                <div class="card-header LMS-title">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <EditForm Model="Model" OnValidSubmit="@TryAuthenticate">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <div class="login-box">
                                <label for="LMSusername"><strong>Username</strong></label>
                                <InputText id="LMSusername" class="form-control LMS-input" type="text" placeholder="Username (Email)" @bind-Value="Model.UserName" />
                            </div>
                            <div>
                                <label for="LMSpassword" style="padding-bottom:-3px"><strong>Password</strong></label>
                                <InputText id="LMSpassword" class="form-control LMS-input" type="password" placeholder="Password" @bind-Value="Model.Password" />
                            </div>

                            <button class="btn btn-primary LMS-btn login-btn" type="submit">Submit</button>
                        </div>
                    </EditForm>

                    <a href="/newaccount">Don't have an account?</a>

                    @if (!string.IsNullOrEmpty(_message))
                    {
                        <p class="LMS-message">@_message</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}

@code {
    private AuthenticationViewModel Model = new AuthenticationViewModel();
    private string _message = string.Empty;
    private bool _loading = true;


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // redirect to dashboard if cookie is still valid
            if (await SessionObj.VerifySession(AzureDb, Storage))
            {
                var acct = await DbService.GetAccount(AzureDb, (await SessionObj.GetSession(AzureDb, Storage)).AccountId);

                if (!await DbService.CheckAccountVerification(AzureDb, acct.Email))
                {
                    NavMan.NavigateTo("verifyaccount");
                }
                else
                {
                    NavMan.NavigateTo("dashboard");
                }
                return;
            }

            _loading = false;
            this.StateHasChanged();
        }
    }

    /// <summary>
    /// Attempt to authenticate a user.
    /// </summary>
    private async void TryAuthenticate()
    {
        if (!await DbService.CheckAccountVerification(AzureDb, Model.UserName))
        {
            NavMan.NavigateTo("verifyaccount");
        }
        var authenticated = await DbService.Authenticate(Storage, AzureDb, Model);
        if (authenticated)
        {
            NavMan.NavigateTo("dashboard");
        }
        else
        {
            _message = "Login failed.";
            await JS.InvokeVoidAsync("Toast", new[] { "error", "Login Failed.", "3000" }); // toasttype, message, duration
        }
    }
}
