@page "/newaccount";
@layout UnauthenticatedLayout;
@using Shared.Models;
@using Data;
@inject NavigationManager NavMan;
@inject IDbService DbService;
@inject AzureDbContext AzureDb;

<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <div class="card LMS-card">
            <div class="card-header LMS-title">
                <h3>New Account</h3>
            </div>
            <div class="card card-body">
                <EditForm Model="@acctModel" OnValidSubmit="@CreateAccount">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    @*<div class="alert alert-danger">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Passwords don't match.
                    </div>
                        I wanted to create an alert, but i need to tie it in somewhere*@
                    <div class="form-group has-success">
                        @*<label class="LMS-form-label text-left d-flex" for="fname"><strong>First Name</strong></label>*@
                        <InputText id="fname" class="form-control LMS-input" type="text" placeholder="First Name" @bind-Value="acctModel.FirstName" />
                    </div>
                    <div class="form-group has-success">
                        @*<label class="LMS-form-label text-left d-flex" for="lname"><strong>Last Name</strong></label>*@
                        <InputText id="lname" class="form-control LMS-input" type="text" placeholder="Last Name" @bind-Value="acctModel.LastName" />
                    </div>
                    <div class="form-group has-success">
                        @*<label class="LMS-form-label text-left d-flex" for="email"><strong>Email</strong></label>*@
                        <InputText id="email" class="form-control LMS-input" type="text" placeholder="Email" @bind-Value="acctModel.Email" />
                    </div>
                    @*<div>
                        <label class="LMS-form-label text-left" for="birthday"><strong>Birthday</strong></label>
                        <InputDate id="birthday" class="LMS-input" type="date" @bind-Value="acctModel.Birthday"/>
                    </div>*@
                    <div class="form-group has-success">
                        @*<label class="LMS-form-label text-left d-flex" for="password"><strong>Password</strong></label>*@
                        <InputText id="password" class="form-control LMS-input" type="password" placeholder="Password" @bind-Value="acctModel.Auth.Password" />
                    </div>
                    <div class="form-group has-success">
                        @*<label class="LMS-form-label text-left d-flex" for="confirm-password" style="font-weight:100"><strong>Confirm Password</strong></label>*@
                        <InputText id="confirm-password" class="form-control LMS-input" type="password" placeholder="Re-enter password" @bind-Value="ConfirmPassword" />
                    </div>
                    <div class="form-group">
                        @*<label class="LMS-form-label text-left d-flex" for="role"><strong>Role</strong></label>*@
                        <select id="role" class="form-control LMS-Input" @bind="acctModel.Role">
                            <option value="0" selected>- Select Role -</option>
                            <option value="1">Student</option>
                            <option value="2">Instructor</option>
                        </select>
                    </div>
                    <button class="btn btn-primary LMS-btn" type="submit">Create Account</button>
                </EditForm>

                <a href="/login">Already have an account?</a>

                @if (!string.IsNullOrEmpty(message))
                {
                    <p class="LMS-message">@message</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@code {
    private AccountModel acctModel = new AccountModel();
    private string message = string.Empty;
    private string ConfirmPassword;
    private DateTime today;

    private async void CreateAccount()
    {
        if (acctModel.Role <= 0)
        {
            message = "User must select a type";
            return;
        }

        if (!ConfirmPassword.Equals(acctModel.Auth.Password))
        {
            message = "Passwords do not match!";
            return;
        }


        var acctCreated = await DbService.CreateAccount(AzureDb, acctModel);
        if (acctCreated)
        {
            message = "Account Created. Proceed to login page.";
            NavMan.NavigateTo("/");
        }

        message = "Error trying to create account. Account may already exist.";
    }
}
