@page "/settings";
@inject NavigationManager NavMan;
@inject IDbService DbService;
@inject AzureDbContext AzureDb;
@inject Blazored.LocalStorage.ILocalStorageService Storage;

<h3>Settings</h3>

@code {

}
