@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #492365;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
}

.scrollbox {
    width: 10em;
    height: 10em;
    overflow: auto;
    visibility: hidden;
}

.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
    visibility: visible;
}

.dashboard {
    height: 100vh;
    display: flex;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: indigo;
    border-color: indigo;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 99999;
}

.main {
    flex: 1;
    min-height: 100%;
    height: 100%;
}

.main .top-row {
    background-color: white;
    border-bottom: 1px solid #d6d5d5;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.gallery {
    display: grid;
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.buttons {
    margin: 3vh;
    float: initial;
}

.LMS-card {
    width: 35vw;
}

.LMS-input {
    width: 25vw;
}

.LMS-btn {
    margin: 1vh;
}

.LMS-message {
    color: red;
    margin: 1vh;
}

.main-image {
    height: 4vh;
    width: auto;
}

.LMS-form-label {
    width: 6vw;
}

.card-header.LMS-form {
    color: black;
}

.home-btn-group {
    padding-right: 0px;
    padding-bottom: 1.5vh;
}

.welcome {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-style: oblique;
    display: inline-block;
}

.card-header {
    text-align: center;
}

.login-box {
    padding-bottom: 10px;
}

.LMS-input {
    width: 100%;
}

.login-btn {
    float: right;
}

.expired-box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.expired-text {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    border: groove;
    border-width: 5px;
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#expired-session {
    font-weight: bold;
    font-size: 40px;
}

#expired-skull {
    font-size: 75px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        transform-origin: 50%, 50%;
    }

    to {
        transform: rotate(360deg);
        transform-origin: 50%, 50%;
    }
}

#expired-home {
    color: white;
    text-decoration: underline;
}

.footer-div {
    margin-top: 3vh;
    margin-bottom: 1vh;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-image {
    vertical-align: middle;
    border-style: none;
    width: auto;
    height: 7vh;
}

.toast {
    opacity: 1 !important;
}

.logout-btn {
    width: 100%;
}

.lms-table {
    background-color: white !important;
}

.header-default, .mdc-icon-button, .mdc-paginator-container, .text-default {
    color: white !important;
}

.mat-elevation-z5.lms-table.mdc-table {
    margin: 8px 0 16px;
    color: black !important;
}

.add-new-course.mdc-button.mdc-ripple-upgraded {
    background-color: midnightblue;
    color: white;
    float: right;
}

.add-new-course.mdc-button.mdc-ripple-upgraded:hover {
    background-color: darkslateblue;
}

.add-new-course-container {
    padding-top: 15px;
}

.courses-header {
    display: inline-block;
}

.mdc-table-filter {
    float: right;
    margin-top: 1vw;
}

.covid-banner {
    background-image: url('https://www.weber.edu/ui/images/bg1.png');
    background-color: #4a4844;
    box-shadow: inset 0px -14px 12px 1px;
    border-bottom: 1px solid #fff;
    height: 15vh;
    display: flex;
    align-items: center;
}

.dashboard-enrollment-table, .ef-th, .ef-td {
    width: auto !important;
    height: auto;
    max-height: 30vh !important;
    overflow: auto;
    text-align: center !important;
}

.dashboard-profile-img {
    width: auto;
    height: 14vh;
}

.img-wrapper {
    display: inline-block;
    width: auto;
}

.header-inline {
    display: inline-block;
}

.profile-info-sm {
    margin: -0.5vh;
}

.profile-info-container {
    background-image: url('https://www.weber.edu/ui/images/bg1.png');
    padding: 15px;
    width: auto;
    max-height: 20vh;
}

.banner-row {
    background-color: white;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: indigo !important;
    border-color: indigo !important;
}

.mdc-form-field > label {
    font-weight: 500;
}

.oi-submenu {
    font-size: x-large;
    color: white;
}

.oi.oi-heart.oi-submenu {
    color: hotpink;
}

/*profile Styling
*/

.profile-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-data-grid {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding-top: 25px;
}

.profile-bio-grid {
    padding-top: 25px;
    padding-right: 50px;
}

.profile-link-grid {
    text-align: left;
}

.profile-link {
    max-height: 8vh;
    width: auto;
    margin: .75vw;
}

.edit-profile-container {
    overflow-y: auto;
    max-height: 90vh;
}

#profile_name {
    font-size: 30px;
}

#profile_data {
    font-size: 15px;
}

.settings-profile-img {
    width: auto;
    height: 40vh;
}

.settings-card-body {
    height: 75vh;
    overflow-y: auto;
}

.settings-card {
    width: 550px;
}

/* Special Ky Section */
@media only screen and (max-height: 625px) {
    .dashboard-profile-img {
        width: auto;
        height: 14vh;
    }

    .gallery__img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .profile-info-container {
        max-height: 30vh;
        width: auto;
    }

    .gallery__img {
        width: 100%;
        height: 100%;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--2 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--3 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
}

.dashboard-balance-due {
    width: 11.5vw;
    float: right;
    background-color: white;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.25);
}

.shake {
    transition: transform .2s;
}

.shake:hover {
    animation-name: shake;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-delay: .1s;
}

input[type='file'] {
    color: white;
}

.input-file-message {
    left: -10vw;
    position: relative;
}

.jumbo-submission {
    max-height: 59vh;
    overflow-y: auto;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0deg);
    }

    20%, 60% {
        transform: rotate(15deg);
    }

    40%, 80% {
        transform: rotate(-15deg);
    }
}

.alert-has-announcements {
    color: red;
}

.fa-spinner {
    color: white;
}

.spinner {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 0;
    margin: auto;
}

.spinner-unauthenticated {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.e-schedule .e-month-view .e-current-date .e-date-header,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header,
.e-schedule .e-month-view .e-appointment {
    background-color: indigo !important;
}

.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day,
.e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day, .e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
.e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: indigo !important;
    font-weight: 700 !important;
}

.primary-lms, .primary-lms:hover {
    background-color: indigo;
    border-color: indigo;
}