@if (!_loading)
{
    <div class="card dashboard-balance-due text-center">
        <h5 class="card-header">Tuition Balance Due</h5>
        <div class="card-body">
            <span class="@(_amountDue > 0 ? "text-danger" : "text-success")">@(_amountDue > 0 ? $"${ _amountDue.ToString("0.00")}" : _amountDue < 0 ? $"None. Refund sent in mail for ${(_amountDue * -1).ToString("0.00")}." : "None")</span>
            @if(_amountDue > 0)
            {
                <br />
                <a class="zoom" href="/payments"><p class="zoom">Pay Now</p></a>
            }
        </div>
    </div>
}

@code {

    private bool _loading = true;
    private decimal _amountDue;

    [Parameter] public Account Account { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var enrollments = await DbService.GetEnrollments(AzureDb, Account.AccountId);
        await SetupBalances();
        _loading = false;
    }

    /// <summary>
    /// Setups up the balances indication.
    /// </summary>
    /// <returns></returns>
    private async Task SetupBalances()
    {
        var enrollments = await DbService.GetEnrollments(AzureDb, Account.AccountId);
        var payments = await DbService.GetPayments(AzureDb, Account.AccountId);

        var chargedAmount = enrollments.Sum(e => e.Credits) * 100.00m;
        var paymentAmount = payments.Sum(p => p.PaymentAmount);
        _amountDue = chargedAmount - paymentAmount;
    }
}
