@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
    <div class="top-row px-4">
        <a href="https://weber.edu/" target="_blank"><img class="main-image" src="https://weber.edu/ui/images/wsu-logo.svg" /></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
