@if (!_loading)
{
    <div class="lead">
        <div class="badge badge-@(_badgeClass)">@_userType</div>
    </div>
}

@code {
    private string _userType;
    private string _badgeClass;
    private bool _loading = true;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var session = await SessionObj.GetSession(AzureDb, Storage);
            if (session == null)
            {
                NavMan.NavigateTo("sessionexpired");
            }
            else
            {
                await Setup(session.AccountId);
            }
        }
    }

    private async Task Setup(int acctId)
    {
        var account = await DbService.GetAccount(AzureDb, acctId);
        _userType = Enum.GetName(typeof(Role), account.Role);
        _badgeClass = account.Role == (int)Role.STUDENT ? "secondary" : "primary primary-lms";

        _loading = false;
        StateHasChanged();
    }
}
